<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-3">Sword Art World</h1>
    <h2 class="h4 mb-3">剣の世界へようこそ！</h2>
    <p class="mb-4">あなたのデータでログインして、アインクラッドの攻略を始めましょう。</p>
    <div class="d-grid gap-3 col-md-4 mx-auto">
      <%= link_to "ログイン", login_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "新規登録", signup_path, class: "btn btn-light btn-lg" %>
    </div>
  </div>
</div>
